:root {
    --blanco:#FFFFFF;
    --negro: #212121;
    --primario:#03bb85;
    --secundario:#02aabd;
    --terciario:#757575;
    --cuaternario:#dfe9f3;
}

html {
     font-size: 62.5%;
     box-sizing: border-box;
    /* scroll-snap-type: y mandatory;*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(to top, var(--cuaternario) 0%, var(--blanco) 100%);
}

h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    text-align: center;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem; 
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 75%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
    
}
.boton:hover {
    cursor: pointer;
}
/*Utilidades*/
.w-sm-100 {
    width: 100%;
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
    
}
.alinear-derecha {
    justify-content: flex-end;
}
.nav_bg {
    background-color: var(--secundario);
}

.navegacion_principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion_principal {
        flex-direction: row;
        justify-content: space-between;
}
}

.navegacion_principal a {
    display: block;
    align-items: center;
    color: var(--blanco); 
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion_principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem ;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /*Anterior*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}
/*Pagina sobre mi*/
.sobre {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 225px;
    margin-bottom: 2rem;
}

.contenido-sobre {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /*Anterior*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-sobre h2,
.contenido-sobre p {
    color: var(--blanco);
}
.icono-sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-sobremi h2 {
    padding: 1rem;
}
.icono-sm {
    width: 8rem;
    height: 8rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Pagina proyectos*/
.proyectos {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 225px;
    margin-bottom: 2rem;
}

.contenido-proyectos {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /*Anterior*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-proyectos h2,
.contenido-proyectos p {
    color: var(--blanco);
}
.display-proyectos {
    font-weight: bold;
    font-size: large;
}
/*Scroll Snap*/
/*.servicio, 
.navegacion_principal, 
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}*/
/*Servicios*/

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/*Formulario*/
.formulario {
    background-color: var(--terciario);
    width: min(68rem, 100% );/*Utiliza el valor más pequeño*/
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campos:nth-child(3),
    .campos:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.contenedor-campos {
    display: grid;
}
.campos {
    margin-bottom: 1rem;
}
.campos label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campos textarea {
    height: 20rem;
    resize: none;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.footer {
    text-align: center;
}

/***/